* {
  box-sizing: border-box;
}

body {
  font-family: "Vazirmatn", "Lalezar";
  margin: 0;
  height: 200vh;

}

img {
  display: block;
}

.row {
  display: flex;
}

.customer1-img1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.customer1-img2 {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 2;
}

.customer1-img3 {
  position: absolute;
  top: 0;
  right: 30px;
  z-index: 1;
}

.customer1-img4 {
  position: absolute;
  top: 0;
  right: 45px;
  z-index: 0;
}


@media (width <1000px) and (width >=360px) {
  .container {
    width: 390px;
    margin-left: auto;
    margin-right: auto;
    background-color: brown;
  }

  header img {
    margin: 30px auto;
  }

  #hero,
  #countries {
    margin: 40px 24px 0;
    border: 1px solid rgb(255, 0, 149);
  }

  #hero .customers {
    position: relative;
    padding-top: 2%;
    /* background-color: rgb(184, 201, 30); */

  }

  #hero .customers img {
    border-radius: 50%;
    border: 1px grey solid;
  }

  #hero .customers .customer-count {
    margin-right: 22%;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%
  }

  #hero .customers .customer-txt {
    margin-right: 2%;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: rgba(27, 23, 23, 0.65);
  }

  #hero h1 {
    padding: 0;
    margin: 10px 0 0;
    font-family: "Lalezar";
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    background-color: rgb(81, 20, 194);
  }

  #hero p {
    padding: 0;
    margin: 10px 0 0;
    font-family: "Vazirmatn";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: rgba(27, 23, 23, 0.65);
    background-color: rgb(20, 194, 49);
  }

  #hero .contact {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 8, 45);
  }

  .contact-us,
  .online-order {
    font-family: "Vazirmatn";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
  }

  #hero .contact-us {
    border-radius: 35px;
    padding: 8px 32px;
    margin-top: 10px;
    color: rgba(27, 23, 23, 0.65);
    border: 1px rgba(27, 23, 23, 0.65) solid;
    background-color: rgba(238, 235, 221, 1);
  }

  #hero .contact-us:hover {
    color: rgba(27, 23, 23, 1);
    border: 1px rgba(27, 23, 23, 1) solid;
    background-color: rgba(238, 235, 221, 1);
  }

  #hero .online-order {
    display: inline-flex;
    gap: 10px;
    border-radius: 35px;
    padding: 8px 32px;
    margin-top: 10px;
    color: rgba(238, 235, 221, 1);
    border: 1px rgba(206, 18, 18, 1) solid;
    background-color: rgba(206, 18, 18, 1);
  }

  #hero .online-order:hover {
    color: rgba(238, 235, 221, 1);
    border: 1px rgba(129, 0, 0, 1) solid;
    background-color: rgba(129, 0, 0, 1);
    fill: #fce57e;
  }

  #hero .online-order img {
    filter: brightness(0) saturate(100%) invert(87%) sepia(8%) saturate(274%) hue-rotate(352deg) brightness(95%) contrast(90%);
  }

  #countries {
    margin-top: 60px;
  }


  .row1 {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .col {
    padding: 6px;
    width: 25%;
  }

  .item {
    text-align: center;
    width: 100%;
    transition: all;
    /* background-color: rgb(236, 132, 172); */

  }

  .item img {
    width: 100%;
    height: auto;
  }

  .item .foo {
    display: block;
  }
  
  .item .item-img:hover .foo{
    display: none;
  }

  .item .bar {
    display: none;
  }


  .item .item-img:hover .bar{
    display: block;
  }

  .item p {
    padding: 10px 0;
    font-family: "Vazirmatn";
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: rgba(27, 23, 23, 0.65);
  }


}